{% extends 'prosgaBundle::template.html.twig' %}

{% block content %}
    <h2>Fichas de Proceso</h2>
{% endblock %}

{% block body_content %} 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Alcance</th>
                <th>Fecha de Emisión</th>
                <th>Fecha de Revisión</th>
                <th>Nro. de Revisión</th>               
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('fichadeproceso_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.codigoDeFicha }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{% if entity.fechaDeEmision %}{{ entity.fechaDeEmision|date('d-m-Y') }}{% endif %}</td>
                <td>{% if entity.fechaDeRevision %}{{ entity.fechaDeRevision|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.nroDeRevision }}</td>
                <td>{{ entity.alcance }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('fichadeproceso_show', { 'id': entity.id }) }}">mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('fichadeproceso_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('fichadeproceso_new') }}">
                Crear nueva Ficha de Proceso
            </a>
        </li>
    </ul>
    {% endblock %}
