{% extends 'prosgaBundle::template.html.twig' %}

{% block content %}
    <h2>Fichas de Procesos</h2>
{% endblock %}

{% block body_content %} 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Fecha de Emisi처n</th>
                <th>Fecha de Revisi처n</th>
                <th>N째 de Revisi처n</th>
                <th>Norma</th>
                <th>Alcance</th>               
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.codigoDeFicha }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{% if entity.fechaDeEmision %}{{ entity.fechaDeEmision|date('d/m/Y') }}{% endif %}</td>
                <td>{% if entity.fechaDeRevision %}{{ entity.fechaDeRevision|date('d/m/Y') }}{% endif %}</td>
                <td>{{ entity.nroDeRevision }}</td>
                <td>{{ entity.norma }}</td>
                <td>{{ entity.alcance }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('fichadeproceso_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('fichadeproceso_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('fichadeproceso_new') }}">
                Agregar Nuevo
            </a>
        </li>
    </ul>
    {% endblock %}
