{% extends 'prosgaBundle::template.html.twig' %}

{% block body_content -%}
    
    <div class="row borde-1-solido">
        <div class="col-md-3"><img alt="logo empresa" src="{{ asset('bundles/prosga/images/inft/logo_min.png') }}" class="img-responsive img-rounded" style="width: 100%" /></div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-8 text-center bg-info borde-1-solido "><strong><p>FICHA DE PROCESO</p></strong></div>
                <div class="col-md-4 text-center bg-info borde-1-solido"><p>{{ entity.codigoDeFicha }}</p></div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center text-uppercase borde-1-solido"><strong><p>{{ entity.nombre }}</p></strong></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-left borde-1-solido"><p>Preparó: {{ entity.personaResponsable}}</p></div>
        <div class="col-md-3 text-left borde-1-solido"><p>Aprobó: {{ entity.personaAprueba}}</p></div>
        <div class="col-md-3 text-center borde-1-solido"><p>Fecha Emisión: {{ entity.fechaDeEmision|date('d/m/Y') }}</p></div>
        <div class="col-md-3 text-center borde-1-solido"><p>REVISIÓN: {{ entity.nroDeRevision }} Fecha: {{ entity.fechaDeRevision|date('d/m/Y') }}</p></div>
    </div>
    
    <div class="row"><div class="col-md-12 borde-1-solido text-left"><p><strong>OBJETIVOS DEL PROCESO:</strong> {{ entity.objetivo }}</p></div></div>
    <div class="row"><div class="col-md-12 borde-1-solido text-left"><p><strong>RESPONSABLES DEL PROCESO:</strong> {{ entity.personaResponsable}}</p></div></div>
    <div class="row"><div class="col-md-12 borde-1-solido text-left"><p><strong>ALCANCE DEL PROCESO:</strong> {{ entity.alcance }}</p></div></div>    
    
    <div class="row"><div class="col-md-12 text-center borde-1-solido bg-info"><strong><p class="">ENTRADAS DEL PROCESO</p></strong></div></div>
    <div class="row">
        <div class="col-md-4 borde-1-solido text-center"><p>PROVEEDOR</p></div>
        <div class="col-md-4 borde-1-solido text-center"><p>INFORMACIÓN/PRODUCTOS</p></div>
        <div class="col-md-4 borde-1-solido text-center"><p>OBSERVACIONES</p></div>
    </div>
    <div class="row">
        <div class="col-md-4 borde-1-solido text-center"><p>--</p></div>
        <div class="col-md-4 borde-1-solido text-center"><p>--</p></div>
        <div class="col-md-4 borde-1-solido text-center"><p>--</p></div>
    </div>    

    <div class="row"><div class="col-md-12 borde-1-solido text-center bg-info"><strong><p class="">SALIDAS DEL PROCESO</p></strong></div></div>
    <div class="row">
        <div class="col-md-4 borde-1-solido text-center"><p>CLIENTE</p></div>
        <div class="col-md-4 borde-1-solido text-center"><p>INFORMACIÓN/PRODUCTOS</p></div>
        <div class="col-md-4 borde-1-solido text-center"><p>OBSERVACIONES</p></div>
    </div>
    <div class="row">
        <div class="col-md-4 borde-1-solido text-center"><p>--</p></div>
        <div class="col-md-4 borde-1-solido text-center"><p>--</p></div>
        <div class="col-md-4 borde-1-solido text-center"><p>--</p></div>
    </div>  
    
    <div class="row"><div class="col-md-12 borde-1-solido text-center bg-info"><strong><p class="">CONTROLES AL PROCESO</p></strong></div></div>   
    <div class="row">
        <div class="col-md-4 borde-1-solido text-center"><p>PARÁMETRO/CARACTERÍSTICAS</p></div>
        <div class="col-md-4 borde-1-solido text-center"><p>MÉTODO DE CONTROL</p></div>
        <div class="col-md-4 borde-1-solido text-center"><p>FRECUENCIA</p></div>
    </div>
    <div class="row">
        <div class="col-md-4 borde-1-solido text-left"><p>--</p></div>
        <div class="col-md-4 borde-1-solido text-left"><p>--</p></div>
        <div class="col-md-4 borde-1-solido text-center"><p>--</p></div>
    </div>
    
    <div class="row"><div class="col-md-12 borde-1-solido text-center bg-info"><strong><p class="">REGISTROS APLICABLES</p></strong></div></div>   
    <div class="row">
        <div class="col-md-1 borde-1-solido text-center"><p>CÓDIGO</p></div>
        <div class="col-md-2 borde-1-solido text-center"><p>NOMBRE</p></div>
        <div class="col-md-3 borde-1-solido text-center"><p>RESPONSABLES</p></div>
        <div class="col-md-3 borde-1-solido text-center"><p>ARCHIVO EN</p></div>
        <div class="col-md-3 borde-1-solido text-center"><p>TIEMPO ARCHIVO</p></div>
    </div>    
    <div class="row">
        <div class="col-md-1 borde-1-solido text-center"><p>--</p></div>
        <div class="col-md-2 borde-1-solido text-left"><p>--</p></div>
        <div class="col-md-3 borde-1-solido text-left"><p>--</p></div>
        <div class="col-md-3 borde-1-solido text-left"><p>--</p></div>
        <div class="col-md-3 borde-1-solido text-left"><p>--</p></div>
    </div>      
    
    <div class="row"><div class="col-md-12 borde-1-solido text-center bg-info"><strong><p class="">INDICADORES DEL PROCESO</p></strong></div></div>   
    <div class="row">
        <div class="col-md-3 borde-1-solido text-left"><p>INDICADOR</p></div>
        <div class="col-md-3 borde-1-solido text-center"><p>FRECUENCIA</p></div>
        <div class="col-md-3 borde-1-solido text-left"><p>RESPONSABLE</p></div>
        <div class="col-md-3 borde-1-solido text-left"><p>OBSERVACIONES</p></div>
    </div>
    <div class="row">
        <div class="col-md-3 borde-1-solido text-left"><p>--</p></div>
        <div class="col-md-3 borde-1-solido text-center"><p>--</p></div>
        <div class="col-md-3 borde-1-solido text-left"><p>--</p></div>
        <div class="col-md-3 borde-1-solido text-left"><p>--</p></div>
    </div>    

{% if entity.tieneFichaDeProcesoAntecesor == true %}
    <a href="{{ path('fichadeproceso_show', { 'id': entity.fichaDeProcesoAntecesor.id }) }}">Ficha de Proceso Antecesora </a>
{% endif %}

{%if entity.tieneFichaDeProcesoPredecesor == true %}
    <a href="{{ path('fichadeproceso_show', { 'id': entity.fichaDeProcesoPredecesor.id }) }}">Ficha de Proceso Predecesora</a>
{% endif %}

    <ul class="record_actions">
        <li>
            <a href="{{ path('fichadeproceso') }}">
                Volver al Listado
            </a>
        </li>
        <li>
            <a href="{{ path('fichadeproceso_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
    </ul>
        
{{ form(delete_form) }}        
        
{% endblock %}
