{% extends 'prosgaBundle::template.html.twig' %}

{% block content %}
    <h2>Ver Proceso</h2>
{% endblock %}

{% block body_content -%}

{% if entity.tieneFichaDeProcesoAntecesor == true %}
    <a href="{{ path('fichadeproceso_show', { 'id': entity.fichaDeProcesoAntecesor.id }) }}">Ficha de Proceso Antecesora </a>
{% endif %}

{%if entity.tieneFichaDeProcesoPredecesor == true %}
    <a href="{{ path('fichadeproceso_show', { 'id': entity.fichaDeProcesoPredecesor.id }) }}">Ficha de Proceso Predecesora</a>
{% endif %}

    <table class="table">
        <tbody>
            <ul>
                <ul>
                    <tr>
                        <th>Datos del Proceso: {{ entity.nombre }}</th>
                        <td></td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Nombre </li></th>
                        <td>{{ entity.nombre }}</td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Código </li></th>
                        <td>{{ entity.codigoDeFicha }}</td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Alcance </li></th>
                        <td>{{ entity.alcance }}</td>
                    </tr>            
                </ul>
                    <tr>
                        <th><li> Fecha de Emisión </li></th>
                        <td>{{ entity.fechaDeEmision|date('Y-m-d H:i:s') }}</td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Fecha de Revisión </li></th>
                        <td>{{ entity.fechaDeRevision|date('Y-m-d H:i:s') }}</td>
                    </tr>
                <ul>
                    <tr>
                        <th><li> Nro. de Revisión </li></th>
                        <td>{{ entity.nroDeRevision }}</td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Objetivo </li></th>
                        <td>{{ entity.objetivo }}</td>
                    </tr>
                </ul>
            </ul>
            <ul>
                <ul>
                    <tr>
                        <th> Personas Involucradas </th>
                        <td></td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Preparó </li></th>
                        <td>{{ entity.personaResponsable}}</td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Responsable </li></th>
                        <td>{{ entity.personaResponsable}}</td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Aprobó </li></th>
                        <td>{{ entity.personaAprueba}}</td>
                    </tr>
                </ul>

            </ul>
            
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('fichadeproceso') }}">
            Volver al Listado
        </a>
    </li>
    <li>
        <a href="{{ path('fichadeproceso_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
