{% extends 'prosgaBundle::template.html.twig' %}

{% block body_content -%}
    
<div class="row">
    <div class="col-md-6 text-left">
        {% if entity.tieneFichaDeProcesoAntecesor == true %}
            <a href="{{ path('fichadeproceso_show', { 'id': entity.fichaDeProcesoAntecesor.id }) }}"><span class="glyphicon glyphicon-arrow-left"></span> Ficha de Proceso Antecesora</a>
        {% endif %}
    </div>
    <div class="col-md-6 text-right">
        {%if entity.tieneFichaDeProcesoPredecesor == true %}
            <a href="{{ path('fichadeproceso_show', { 'id': entity.fichaDeProcesoPredecesor.id }) }}">Ficha de Proceso Predecesora <span class="glyphicon glyphicon-arrow-right"></span></a>
        {% endif %}
    </div>
</div>    
    
<div id="fichadeproceso">
    <div class="row borde-1-solido">
        <div class="col-md-3"><img alt="logo empresa" src="{{ asset('bundles/prosga/images/inft/logo_min.png') }}" class="img-responsive img-rounded" style="width: 37%" /></div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-8 text-center bg-info borde-1-solido "><strong><p>FICHA DE PROCESO</p></strong></div>
                <div class="col-md-4 text-center bg-info borde-1-solido"><p>{{ entity.codigoDeFicha }}</p></div>
            </div>
            <div class="row">
                <div class="col-md-8 text-center text-uppercase borde-1-solido"><strong><p>{{ entity.nombre }}</p></strong></div>
                <div class="col-md-4 borde-1-solido text-center"><p><strong>NORMA:</strong> {{ entity.norma }}</p></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-left borde-1-solido"><p>Preparó: {{ entity.personaPrepara}}</p></div>
        <div class="col-md-3 text-left borde-1-solido"><p>Aprobó: {{ entity.personaAprueba}}</p></div>
        <div class="col-md-3 text-center borde-1-solido"><p>Fecha Emisión: {{ entity.fechaDeEmision|date('d/m/Y') }}</p></div>
        <div class="col-md-3 text-center borde-1-solido"><p>REVISIÓN: {{ entity.nroDeRevision }} Fecha: {{ entity.fechaDeRevision|date('d/m/Y') }}</p></div>
    </div>
    
    <div class="row"><div class="col-md-12 borde-1-solido text-left"><p><strong>OBJETIVOS DEL PROCESO:</strong> {{ entity.objetivo|bbcode_filter('filter_default') }}</p></div></div>
    <div class="row"><div class="col-md-12 borde-1-solido text-left"><p><strong>RESPONSABLES DEL PROCESO:</strong> {{ entity.personaResponsable}}</p></div></div>
    <div class="row"><div class="col-md-12 borde-1-solido text-left"><p><strong>ALCANCE DEL PROCESO:</strong> {{ entity.alcance|bbcode_filter('filter_default') }}</p></div></div>    
    
    <div class="row"><div class="col-md-12 text-center borde-1-solido bg-info"><strong><p class="">ENTRADAS DEL PROCESO</p></strong></div></div>
    <div class="row">
        <div class="col-md-6 borde-1-solido text-center"><p>VALORES DE ENTRADA</p></div>
        <div class="col-md-6 borde-1-solido text-center"><p>OBSERVACIONES</p></div>
    </div>
    {% for pe in procesosentradas %}
    <div class="row">
        <div class="col-md-6 borde-1-solido text-left"><p>{{ pe.valoresDeEntrada }}</p></div>
        <div class="col-md-6 borde-1-solido text-left"><p>{{ pe.observacion|bbcode_filter('filter_default') }}</p></div>
    </div>    
    {% endfor %}

    <div class="row"><div class="col-md-12 borde-1-solido text-center bg-info"><strong><p class="">SALIDAS DEL PROCESO</p></strong></div></div>
    <div class="row">
        <div class="col-md-6 borde-1-solido text-center"><p>VALORES DE SALIDA</p></div>
        <div class="col-md-6 borde-1-solido text-center"><p>OBSERVACIONES</p></div>
    </div>
    {% for ps in procesosalidas %}
    <div class="row">
        <div class="col-md-6 borde-1-solido text-left"><p>{{ ps.valoresDeSalida }}</p></div>
        <div class="col-md-6 borde-1-solido text-left"><p>{{ ps.observacion|bbcode_filter('filter_default') }}</p></div>
    </div>    
    {% endfor %}
    
    <div class="row"><div class="col-md-12 borde-1-solido text-center bg-info"><strong><p class="">CONTROLES AL PROCESO</p></strong></div></div>   
    <div class="row">
        <div class="col-md-4 borde-1-solido text-center"><p>PARÁMETRO/CARACTERÍSTICAS</p></div>
        <div class="col-md-4 borde-1-solido text-center"><p>MÉTODO DE CONTROL</p></div>
        <div class="col-md-4 borde-1-solido text-center"><p>FRECUENCIA</p></div>
    </div>
    {% for c in controles %}
    <div class="row">
        <div class="col-md-4 borde-1-solido text-left"><p>{{ c.nombre }}</p></div>
        <div class="col-md-4 borde-1-solido text-left"><p>{{ c.descripcion|bbcode_filter('filter_default') }}</p></div>
        <div class="col-md-4 borde-1-solido text-center"><p>{{ c.frecuencia }}</p></div>
    </div>
    {% endfor %}
    
    <div class="row"><div class="col-md-12 borde-1-solido text-center bg-info"><strong><p class="">REGISTROS APLICABLES</p></strong></div></div>   
    <div class="row">
        <div class="col-md-1 borde-1-solido text-center"><p>CÓDIGO</p></div>
        <div class="col-md-2 borde-1-solido text-center"><p>NOMBRE</p></div>
        <div class="col-md-3 borde-1-solido text-center"><p>RESPONSABLE</p></div>
        <div class="col-md-3 borde-1-solido text-center"><p>ARCHIVO EN</p></div>
        <div class="col-md-3 borde-1-solido text-center"><p>TIEMPO ARCHIVO</p></div>
    </div>    
    {% for fp in registrosfp %}
    <div class="row">
        <div class="col-md-1 borde-1-solido text-center"><p>{{ fp.codigoDeFicha }}</p></div>
        <div class="col-md-2 borde-1-solido text-left"><p>{{ fp.nombre }}</p></div>
        <div class="col-md-3 borde-1-solido text-left"><p>{{ fp.personaResponsable }}</p></div>
        <div class="col-md-3 borde-1-solido text-left"><p>{{ fp.ubicacionArchivoFisico }}</p></div>
        <div class="col-md-3 borde-1-solido text-left"><p>{{ fp.tiempoEnArchivo | date('d/m/Y') }}</p></div>
    </div>
    {% endfor %}
    
    <div class="row"><div class="col-md-12 borde-1-solido text-center bg-info"><strong><p class="">INDICADORES DEL PROCESO</p></strong></div></div>   
    <div class="row">
        <div class="col-md-3 borde-1-solido text-left"><p>INDICADOR</p></div>
        <div class="col-md-3 borde-1-solido text-left"><p>RESPONSABLE</p></div>
        <div class="col-md-3 borde-1-solido text-center"><p>FRECUENCIA</p></div>        
        <div class="col-md-3 borde-1-solido text-left"><p>OBJETIVO</p></div>
    </div>
    {% for ind in indicadores %}
    <div class="row">
        <div class="col-md-3 borde-1-solido text-left"><p>{{ ind.nombre }}</p></div>
        <div class="col-md-3 borde-1-solido text-left"><p>{{ ind.personaResponsable }}</p></div>
        <div class="col-md-3 borde-1-solido text-center"><p>{{ ind.frecuencia }}</p></div>        
        <div class="col-md-3 borde-1-solido text-left"><p>{{ ind.descripcion|bbcode_filter('filter_default') }}</p></div>
    </div>            
    {% endfor %}
    
    <div class="row"><div class="col-md-12 borde-1-solido text-center bg-info"><strong><p class="">HISTORIAL DE CAMBIOS</p></strong></div></div>   
    <div class="row">
        <div class="col-md-2 borde-1-solido text-center"><p>Revisión</p></div>
        <div class="col-md-10 borde-1-solido text-center"><p>Modificaciones Realizadas al proceso</p></div>
    </div>
    {% for hist in procesohistorial %}
    <div class="row">
        <div class="col-md-2 borde-1-solido text-center"><p>{{ hist.nroRevision }}</p></div>
        <div class="col-md-10 borde-1-solido text-left"><p>{{ hist.descripcion|bbcode_filter('filter_default') }}</p></div>
    </div>        
    {% endfor %}

    <ul class="record_actions">
        <li>
            <a href="{{ path('fichadeproceso') }}">
                Volver al Listado
            </a>
        </li>
        <li>
            <a href="{{ path('fichadeproceso_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
    </ul>
            
{{ form(delete_form) }}        

</div>
        
{% endblock %}

{% block body_end_before_js %}
    <script type="text/javascript">
        $('.jumbotron').hide();
    </script>
{% endblock %}