{% extends 'prosgaBundle::template.html.twig' %}

{% block content %}
    <h2>Ver Salida de Ficha de Proceso</h2>
{% endblock %}

{% block body_content -%}
    <table class="table">
        <tbody>
            <tr>
                <th> N° de Revisión </th>
                <td>{{ entity.nroRevision }}</td>
            </tr>
            <tr>
                <th> Cambio del Proceso </th>
                <td><a href="{{ path('fichadeproceso_show', { 'id': entity.fichaDeProceso.id }) }}">{{ entity.fichaDeProceso}} </a>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('d-m-Y') }}</td>
            </tr>
            
            <tr>
                <th> Descripción </th>
                <td>{{ entity.descripcion }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('fichadeprocesohistorial') }}">
            Volver al Listado
        </a>
    </li>
    <li>
        <a href="{{ path('fichadeprocesohistorial_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
