{% extends 'prosgaBundle::template.html.twig' %}

{% block content %}
    <h2>Actividades</h2>
{% endblock %}

{% block body_content %}  
 
    <table id="actividades" class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Nombre</th>
                <th>Aspecto Ambiental</th>
                <th>Acción Prevención </th>
                <th>Observacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
            <tr>
                    <td>{% if entity.fechaActividad %}{{ entity.fechaActividad|date('d/m/Y') }}{% endif %}</td>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.aspectoAmbiental }}</td>
                    <td>{{ entity.accionPrevencion }}</td>
                    <td>{{ entity.observacion }}</td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('actividad_show', { 'id': entity.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('actividad_edit', { 'id': entity.id }) }}">Editar</a>
                        </li>
                    </ul>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('actividad_new') }}">
                Crear Actividad
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_end_before_js %}{% endblock %}