{% extends 'prosgaBundle::template.html.twig' %}

{% block content %}
    <h2>Actividades</h2>
{% endblock %}

{% block body_content %}  
 
    <div class="form-group">
        <label class="control-label">Seleccione Auditoría</label>        
        <div class="selectContainer">
            <select id="auditoria" class="form-control">
            {% for auditoria in auditorias %}            
                <option value="{{ auditoria.id }}">{{ auditoria.nombre }}</option>
            {% endfor %}
            </select>      
        </div>    
    </div>
    
    <table id="actividades" class="table table-striped">
        <thead>
            <tr>
                <!--th>#</th--!>
                <th>Fecha</th>
                <th>Observacion</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
                <tr>
                    <!--td><a href="{{ path('actividad_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td--!>
                    <td>{% if entity.fechaActividad %}{{ entity.fechaActividad|date('d-m-Y') }}{% endif %}</td>
                    <td>{{ entity.observacion }}</td>
                    <td>{{ entity.nombre }}</td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('actividad_show', { 'id': entity.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('actividad_edit', { 'id': entity.id }) }}">Editar</a>
                        </li>
                    </ul>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('actividad_new') }}">
                Crear Actividad
            </a>
        </li>
    </ul>
{% endblock %}