{% extends 'prosgaBundle::template.html.twig' %}

{% block content %}
    <h2>Ver Actividad</h2>
{% endblock %}

{% block body_content -%}

    <table class="table">
        <tbody>
            <ul>
                <ul>
                    <tr>
                        <th>Datos de la Actividad: {{ entity.nombre }} </th>
                        <td></td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Nombre </li></th>
                        <td> {{ entity.nombre }} </td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Fecha </li></th>
                        <td> {{ entity.fechaActividad|date('Y-m-d H:i') }} </td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Responsable Actividad </li></th>
                        <td> {{ entity.personaResponsable }} </td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Observación </li></th>
                        <td>{{ entity.observacion }}</td>
                    </tr>
                </ul>   
            </ul>
            {% if entity.tieneProceso == true %}
            <tr>
                <td></td>
                <td></td>
            </tr>
            <ul>
                <ul>
                    <tr>
                        <th>Proceso Asociado</th>
                        <td></td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Nombre Proceso </li></th>
                        <td>{{ entity.proceso }}</td>
                    </tr>
                </ul>
            </ul>
            {% endif%}

            {% if entity.tieneAuditoria == true%}
            <tr>
            </tr>
            <ul>
                <ul>
                    <tr>
                        <th>Auditoria Asociada</th>
                        <td></td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Nombre de Auditoría </li></th>
                        <td>{{ entity.auditoria }}</td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Fecha </li></th>
                        <td>{{ entity.auditoria.fechaDeAuditoria|date('d-m-Y') }}</td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Responsable </li></th>
                        <td>{{ entity.auditoria.personaResponsable}}</td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Sector </li></th>
                        <td>{{ entity.auditoria.estado}}</td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Estado </li></th>
                        <td>{{ entity.auditoria.estado}}</td>
                    </tr>
                </ul>
            </ul>
            {% endif %}
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('actividad') }}">
            Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('actividad_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
