{% extends 'prosgaBundle::template.html.twig' %}

{% block content %}
    <h2>Entradas de Procesos</h2>
{% endblock %}

{% block body_content %} 
    <table class="table table-striped">
        <thead>
            <tr>
                <!--th> Id </th--!>
                <th> Entrada del Proceso </th>
                <th> Valores de Entrada </th>                
                <th> Observaciones </th>
                <th> Acciones </th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <!--td><a href="{{ path('fichadeprocesoentrada_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td--!>
                <td><a href="{{ path('fichadeproceso_show', { 'id': entity.id }) }}">{{ entity.fichaDeProceso }}</a></td>
                <td>{{ entity.valoresDeEntrada }}</td>                
                <td>{{ entity.observacion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('fichadeprocesoentrada_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('fichadeprocesoentrada_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('fichadeprocesoentrada_new') }}">
                Crear Entrada de Proceso
            </a>
        </li>
    </ul>
    {% endblock %}
