{% extends 'prosgaBundle::template.html.twig' %}

{% block content %}
    <h2>Acciones</h2>
{% endblock %}

{% block body_content %} 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>                
                <th>Indicador</th>
                <th>Análisis de Causa</th>
                <th>Plan de Acción</th>
                <th>Resultado</th>
                <th>Efectiva</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.fecha %}{{ entity.fecha|date('d/m/Y') }}{% endif %}</td>                
                <td>{{ entity.TipoIncidencia }}</td>
                <td>{{ entity.analisisCausa }}</td>
                <td>{{ entity.planAccion }}</td>
                <td>{{ entity.resultado }}</td>
                <td>{% if entity.efectiva == 1 %}{{ 'SI' }} {% elseif entity.efectiva == 0 %} {{ 'NO' }}{% endif %}</td><td>
                <ul>
                    <li>
                        <a href="{{ path('acciones_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('acciones_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('acciones_new') }}">
                Agregar Nuevo
            </a>
        </li>
    </ul>
    {% endblock %}
