{% extends 'prosgaBundle::template.html.twig' %}

{% block content %}
    <h2>Indicadores</h2>
{% endblock %}

{% block body_content %} 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Indicador</th>
                <th>Ficha de Proceso</th>
                <th>Responsable</th>
                <th>Valor permitido</th>
                <th>Objetivo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.fichaDeProceso }}</td>
                <td>{{ entity.personaResponsable }}</td>
                <td>{{ entity.valorPermitido }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('tiposincidencias_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('tiposincidencias_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                    <li>
                        <a href="{{ path('tiposincidencias_graph', { 'id': entity.id }) }}">Ver Gráfico</a>
                    </li>                    
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tiposincidencias_new') }}">
                Agregar nuevo
            </a>
        </li>
    </ul>
    {% endblock %}
