{% extends 'prosgaBundle::template.html.twig' %}

{% block content %}
    <h2>Indicadores</h2>
{% endblock %}

{% block body_content -%}

    <table class="table">
        <tbody>
            <tr>
                <th>Ficha de Proceso</th>
                <td>{{ entity.fichaDeProceso }}</td>
            </tr>            
            <tr>
                <th>Responsable</th>
                <td>{{ entity.personaResponsable }}</td>
            </tr>            
            <tr>
                <th>Indicador</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Valor Permitido</th>
                <td>{{ entity.valorPermitido }}</td>
            </tr>
            <tr>
                <th>Frecuencia</th>
                <td>{{ entity.frecuencia }}</td>
            </tr>    
            <tr>
                <th>Objetivo</th>
                <td>{{ entity.descripcion|bbcode_filter('filter_default') }}</td>
            </tr>
            <tr>
                <th>Observación</th>
                <td>{{ entity.observacion }}</td>
            </tr>            
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tiposincidencias') }}">
            Volver a la Lista
        </a>
    </li>
    <li>
        <a href="{{ path('tiposincidencias_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
