{% extends 'prosgaBundle::template.html.twig' %}

{% block content %}
    <h2>Ver Auditoría</h2>
{% endblock %}

{% block body_content -%}

    <table class="table">
        <tbody>
            <ul>
                <ul>
                    <tr>
                        <th> Datos de la Auditoria: {{ entity.nombre }} </th>
                        <td></td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Nombre </li></th>
                        <td>{{ entity.nombre }}</td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Fecha </li></th>
                        <td>{{ entity.fechaDeAuditoria|date('d-m-Y') }}</td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Sector </li></th>
                        <td>{{ entity.sector }}</td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Responsable </li></th>
                        <td>{{ entity.personaResponsable }}</td>
                    </tr>
                <ul>
                <ul>
                    <tr>
                        <th><li> Estado </li></th>
                        <td>{{ entity.estado }}</td>
                    </tr>
                <ul>
                    <tr>
                        <th><li> Costo </li></th>
                        <td>{{ entity.costoAuditoria|number_format }}</td>
                    </tr>
                </ul>
                <ul>
                    <tr>
                        <th><li> Observaciones </li></th>
                        <td>{{ entity.observacion }}</td>
                    </tr>
                </ul>
            </ul>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('auditoria') }}">
            Volver al Listado
        </a>
    </li>
    <li>
        <a href="{{ path('auditoria_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
